<div
    id="app-orders"
    class="main-content page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <span class="logo-text h1">
                    Orders
                </span>
            </div>
            <!-- / APP TITLE -->

            <div class="search-option m-24" *ngIf="beginDate && endDate">
                <app-search-option
                    [beginDate]="beginDate"
                    [endDate]="endDate"
                    (event)="changeDateRange($event.data)"
                ></app-search-option>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="main-data-table orders-table"
                #table
                [dataSource]="dataSource"
                matSort
                fusePerfectScrollbar
            >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Order No.</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.id }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Name</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.customerName }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Phone No.</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.customer.phone }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Status</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{ order.statusString }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Order Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.createdAt | date: "short" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveredAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Delivery Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.deliveryDate | date: "short" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pickupAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Pickup Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.pickupAt | date: "short" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="returnedAt">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Return Date</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.returnedAt | date: "short" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Total</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.total / 100 | currency: "USD" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kegsDeliveredQty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Kegs</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.kegsDeliveredQty }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tapsDeliveredQty">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Taps</mat-header-cell
                    >
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">
                            {{ order.tapsDeliveredQty }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                    ></mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <button
                            (click)="viewOrder(order)"
                            class="mr-8"
                            color="accent"
                            mat-flat-button
                        >
                            View
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let order; columns: displayedColumns"
                    class="order"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
