@import "src/@fuse/scss/fuse";
@import "src/sass/main";

#orderDetails {
    .order-header {
        width: 100%;
        display: flex;
        .section-content {
            width: 33%;
            position: relative;
            display: inline-block;

            .section {
                width: 100%;
                margin-bottom: 16px;
                text-align: left;
                .label {
                    width: 30%;
                    display: inline-block;
                    text-align: left;
                }
            }
            mat-label {
                font-size: 1.5rem;
            }
        }
    }
    .order-product {
        .products-table {
            width: 100%;

            .mat-column-product {
                flex: 0 1 300px;
            }
            .mat-column-store {
                flex: 0 1 250px;
            }
        }
    }
}
