<div
    id="inventories"
    class="main-content page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <span class="logo-text h1">
                    Inventory
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a Inventory" />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                (click)="addInventory()"
                class="add-product-button fuse-white mt-24 mt-md-0"
            >
                <span>Add New Inventory</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="main-data-table inventory-table"
                #table
                [dataSource]="dataSource"
                matSort
                fusePerfectScrollbar
            >
                <ng-container matColumnDef="stock">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >In Stock</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">{{ inventory.quantity }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Category</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">
                            {{ inventory.category.name }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="size">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Size</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">{{ inventory.size.name }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Product</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">
                            {{ inventory.product.name }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="keg">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Keg Type</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Tap">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >Tap Type</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryFee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >($) Delivery Fee</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">
                            {{
                                inventory.category.deliveryFee / 100
                                    | currency: "USD"
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="depositeFee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >($) Deposite Fee</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">
                            {{
                                inventory.product.depositeFee / 100
                                    | currency: "USD"
                            }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header
                        >($) Price</mat-header-cell
                    >
                    <mat-cell *matCellDef="let inventory">
                        <p class="text-truncate">
                            {{ inventory.price / 100 | currency: "USD" }}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                    ></mat-header-cell>
                    <mat-cell *matCellDef="let inventory">
                        <button
                            (click)="editInventory(inventory)"
                            class="mr-8"
                            color="accent"
                            mat-flat-button
                        >
                            Edit
                        </button>
                        <button
                            class="mr-8"
                            color="warn"
                            mat-flat-button
                            (click)="deleteInventory(inventory)"
                        >
                            Delete
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let size; columns: displayedColumns"
                    class="size"
                    matRipple
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
